body{
  --slack-color:#3f0f40;
}

.app__body{
  display: flex;
  height: 100vh;
}


  @media screen and (max-width: 600px) {
    .app__body {
     display : flex;
     flex-direction:column;
     height:unset;
    }
  }


